<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417701020381-g37ubj0fo7d4cvve3ej7vtl1e00kkcc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417701020381-g37ubj0fo7d4cvve3ej7vtl1e00kkcc3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>417701020381-v5fqc0ok8aii79ehbthh87l3hepetd0v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuPxMmmt_gcP8_9KuJQfxHoy8njV1orss</string>
	<key>GCM_SENDER_ID</key>
	<string>417701020381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hkmhyderabad.harekrishnagoldentemple</string>
	<key>PROJECT_ID</key>
	<string>hare-krishna-golden-temp-b1785</string>
	<key>STORAGE_BUCKET</key>
	<string>hare-krishna-golden-temp-b1785.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417701020381:ios:59b22ef7e01ef1c28b1134</string>
</dict>
</plist>